.mainInfo {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-sizing: border-box;
}

.city {
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
}

.country {
  font-size: 20px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.condition {
  font-size: 24px;
}

.current {
  font-size: 38px;
  font-weight: bold;
}
