.mainContainer {
  width: 700px;
  margin: 100px auto;
}

.blockViewContainer {
  display: flex;
  flex-direction: column;
}

.blockViewButton {
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 3px;
}

.blockViewButton:hover {
  background-color: rgb(79, 133, 181);
  color: white;
}

.typesSelectorButtons {
  position: absolute;
  width: 200px;
  flex-direction: column;
  left: -217px;
  top: 27px;
  z-index: 100;
  border: solid 1px #ccc;
}
