.emojiPickerContainer {
  position: absolute;
  width: 400px;
  height: 350px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.emojiPickerButton {
  display: inline-block;
}

.emojisList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.emojiButton {
  border: none;
  font-size: 28px;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.emojiButton:hover {
  background-color: white;
}

.search {
  border: none;
  padding: 10px;
  border-radius: 5px;
}
