body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

a {
  color: white;
  text-decoration: none;
}

label {
  margin-top: 20px;
  display: block;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
}
